.paths-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--primary-color);
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
}

p {
    margin-top: 40px;
}

.paths-grid > * {
    flex-basis: calc(25% - 20px);
}

h4 {
    margin-top: auto;
}

@media (max-width: 992px) {
    .paths-grid > * {
      flex-basis: calc(33.3333% - 20px);
    }

    .no-routes-message {
        margin-top: 20px;
    }
}

.no-route {
    margin-top: 20px;
    text-align: center;
}

.sort-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sort-options label {
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap; 
}

.sort-options select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 120px; 
}


