.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
} 

.form-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column; 
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--text-color);
}

button {
  margin-top: auto;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  color: var(--text-color);
}

.error-message {
  color: var(--error-color);
  text-align: center;
  margin-top: 10px;
}
