*, *:before, *:after {
  box-sizing: border-box;
} 

/* Colors */
:root {
  --primary-color: #2ABFA4; /* Teal */
  --secondary-color: #A67C52; /* Brown */
  --background-color: #FFFFFF; /* White */
  --card-background-color: #F0F0F0; /* Light Gray */
  --border-color: #E0E0E0; /* Light Border Gray */
  --text-color: #333333; /* Dark Gray */
  --dark-green-color: #1A5144; /* Dark Green */
  --green-color: #3C8039; /* Green */
  --dark-blue-color: #0A3030; /* Dark Blue */
  --error-color: #FF0000; /* Red */
}

/* Fonts */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* Sections */
section {
  padding: 20px;
  margin: 20px 0;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: bold;
}

p {
  margin: 10px 0;
}

/* Buttons */
button {
  padding: 10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--dark-green-color);
}

/* Forms */
input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Error Messages */
.error-message {
  color: var(--error-color);
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar a {
    padding: 5px 0;
  }
}
