.map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  padding: 20px;
}

.map-container {
  width: 100%;
  max-width: 1600px;
  height: 700px;
  background-color: #e0e0e0;
  border: 1px solid var(--border-color);
  margin-top: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  gap: 15px;
}

.path-input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: auto;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: var(--dark-green-color);
}

.h1{
  color: #e0e0e0;
}

.directions-control-directions {
  visibility: hidden;
}

.mapbox-directions-route-summary{
  visibility: visible;
}

.mapbox-directions-route-summary h1{
  color:#e0e0e0
}

div.mapboxgl-ctrl-bottom-left{
  visibility: hidden;
}